<div class="update-employee" *ngIf="!isUpdated">
  <h3>Update Employee</h3>
  <div class="get-emp">
    <input type="number" required placeholder="Employee id" #empId/>
    <button (click)="fetchEmployee(empId.value)">Search</button>
  </div>
  <form #empForm="ngForm" class="emp-form" (ngSubmit)="updateEmployee()" *ngIf="showEmployee">
    <div class="form-group g2">
      <label>Employee Name</label>
      <input type="text" required name="name" [(ngModel)]="employee.name"/>
    </div>
    <div class="form-group g3">
      <label>Employee Age</label>
      <input type="number" required name="age"  [(ngModel)]="employee.age"/>
    </div>
    <div class="form-group g4">
      <label>Employee Department</label>
      <input type="text" required name="department"  [(ngModel)]="employee.department"/>
    </div>
    <div class="form-group g5">
      <label>Employee Salary</label>
      <input type="number" required name="salary"  [(ngModel)]="employee.salary"/>
    </div>
    <div class="form-group footer">
      <button type="submit">Update Employee</button>
    </div>
  </form>
</div>

<div class="result" *ngIf="isUpdated">
  <h2>Employee updated Successfully</h2>
  <button (click)="close()">Close</button>
</div>

