table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.emp-routing{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-top: 40px;
  a{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #454444;
    color: white;
    text-decoration: none;
  }

  button:hover{
    box-shadow: 2px 2px 10px 0.5px #aeaeae;
  }
}
