<h4>Child Component</h4>
<p>Child Id : {{childId}}</p>
<div class="form-model">
  <form #formModel="ngForm" (ngSubmit)="handleFormSubmit()">
    <div class="form-group g1">
      <label for="username">Enter username </label>
      <input type="text" name="username" required pattern="^(?=.*[a-zA-Z])(?=.*\d)[A-Za-z\d]+$" [(ngModel)]="user.username" #username="ngModel" />
      <div class="error" *ngIf="!username.valid && username.touched">
        <p>Invalid username</p>
      </div>
    </div>
    <div class="form-group g2">
      <label for="email">Enter email </label>
      <input type="input-email" name="email" required email [(ngModel)]="user.email" #email="ngModel"/>
      <div class="error" *ngIf="!email.valid && email.touched">
        <p>Invalid email</p>
      </div>
    </div>
    <div class="form-group g3">
      <label for="password">Enter password </label>
      <input type="password" name="password" ngModel required/>
    </div>
    <div class="form-group footer g4">
      <button type="submit" [disabled]="!formModel.valid" value="submit">Submit</button>
    </div>
  </form>

  <div *ngIf="submitted" class="user-greeting" #greeting>
    <h4>Hello {{formModel.value.username}}</h4>
    <p>Welcome to angular project</p>
    <button (click)="close()">Close</button>
  </div>

</div>
